{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>Liste des Épargnes</h1>


<table>
    <tr>
        <th>Intitulé</th>
        <th>Montant (€)</th>
        <th>Action</th>
    </tr>
    {% for epargne in epargnes %}
    <tr>
        <td>{{ epargne.name }}</td>
        <td>{{ epargne.amount }}</td>
        <td>
            <a href="{% url 'modifier_epargne' epargne.pk %}">Modifier</a> |
            <a href="{% url 'supprimer_epargne' epargne.pk %}">Supprimer</a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="5">Aucune épargne trouvée.</td>
    </tr>
    {% endfor %}
</table>

<h3>Epargne Total : &ensp; &ensp; <strong>{{ total_epargne }} €</strong> </h3>

<a href="{% url 'ajouter_epargne' %}">Ajouter une épargne</a>
{% endblock %}
